<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-6 card-special" id="score-holder">
			<div class="row card-banner">	
				<h4><%="#{@event.league.group} - #{@event.league.name}"%></h4>
			</div>
			<div class="row" id=teams-score>	
				<div class="col-md-5">	
					<h2><%=@event.home%></h2>
				</div>
				<div class="col-md-2">
					<% if @event.is_live %>	
						<h1 id="score" data-live=<%=@event.is_live%> style='color:black'><%=@event_info[:home_goals].to_i%>-<%=@event_info[:away_goals].to_i%></h1>
					<%else%>
						<h3 id="score" data-live=<%=@event.is_live%> style='color:black'>Not started</h3>
					<%end%>
				</div>
				<div class="col-md-5">	
					<h2><%=@event.away%></h2>
				</div>
			</div>
			<div class="row" id="playing-minute">
				<div class="progress">
					<% if @event.is_live %>
		  				<div class="progress-bar" id="pb-playing-minute" role="progressbar" aria-valuenow=<%=@event_info[:playing_minute]%> aria-valuemin="0" aria-valuemax="90" style=<%="width:#{(@event_info[:playing_minute]/0.9).to_i}%"%>>
		    				<%=@event_info[:playing_minute]%>
		 				</div>
		 			<%else%>
		 				<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" style="width:100%">
		    				Currently no live information available
		 				</div>
		 			<%end%>
				</div>
			</div>
		</div>
		<div class="col-md-6 card-special" id="simulation-settings">
			<div class="row card-banner">	
				<h4>Settings</h4>
			</div>
			<div class="row" id=settings-content>	
				<div class="col-md-4">	
					<span>	
						Style 
						<select class="form-control">
		  					<option>Marketing</option>
		 		 			<option>Profit</option>
		  					 <option>Danger</option>
						</select>
					</span>
						Sticky 
						<select class="form-control">
		  					<option>Glue</option>
		 		 			<option>Normal</option>
		  					<option>Oil</option>
						</select>
					</span>
				</div>
				<div class="col-md-8">
					<form class="slider-form" action="">
						<span>Home: <input class="slide" type="range" min="0" max="100" id="slider-h"></span>
						<span>Draw: <input class="slide" type="range" min="0" max="100" id="slider-d"></span>
						<span>Away: <input class="slide" type="range" min="0" max="100" id="slider-a"></span>
					</form>
				</div>
			</div>
			<button id="submit-settings">Submit</button>

		</div>
	</div>	
	<div class="row second-row">	
		<div class="col-md-12 card-special card-markets">
			<div class="row card-banner">	
				<h4>Markets</h4>
			</div>
			<%@odds_info.each do |market_name, param_hash| %>
				<% param_hash.each_with_index do |(param, odd_hash), index| %>
					<%if index%2==0 %>
						<div class="row market">
					<%end%>
						<div class="col-md-6">
							<%= render partial: 'market', locals: { odds: odd_hash[:odds], market: market_name, param: param }%>
						</div>
					<%if index%2!=0 || index == param_hash.length-1%>
						</div>
					<%end%>
				<%end%>
			<%end%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 card-special">
			<div class="row card-banner">	
				<h4>Performance</h4>
			</div>
		</div>
	</div>
		

	
</div>


